div {
  width: 200px;
  height: 200px;
  margin: auto;
}

.satu {
  background-color: lightgreen;
}

.dua {
  background-color: violet;
  position: fixed;
  bottom: 0;
  right: 0;
}

.tiga {
  background-color: gold;
}

.container {
  width: 600px;
  height: 650px;
  border: 10px solid green;
  position: relative;
}